#mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-color: #0d1b2a;
  color: #f0f8ff;
}

.content {
  width: 100%;
  flex-grow: 1;
  padding: 0.5rem 2rem;
  margin: auto;
  max-height: 50%;
}
